<div id="employees_props" class="container mt-4 border rounded shadow-sm p-3 mb-5 bg-white rounded">
  <%= react_component 'Employee', {
    employee: @employee,
    customers_associated: @employee.customers_associated
  } %>
  <%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-primary" %>
  <%= link_to 'Back', employees_path, class: "btn btn-primary" %>
</div>
