<div class="jumbotron" style="margin-top:1em">
  <h1 class="display-4">CONDE</h1>
  <p class="lead">This is a Debt Control software .</p>
  <hr class="my-4">
  <p>Give an enhancement to your bussiness controling your debts in a better way.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
