<div class="jumbotron" style="margin-top:1em">
  <h1 class="display-4">CONDE</h1>
  <p class="lead">This is a Debt Control software .</p>
  <hr class="my-4">
  <p>Give an enhancement to your bussiness by controling your debts in a better way.</p>
  <%= link_to "Login", new_user_session_path, class: @class_index %>
</div>


<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2 class="mt-4">What We Do</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
    </div>
  </div>
</div>
